<div class="div-header">
  Request Money
</div>

<div>
  <form #requestMoneyForm="ngForm">

    <div class="row">
      <div class="col-md-12 text-center">
        <label>TIJN Balance : ${{TIJNBalance}}</label>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">

        <div class="form-group tijn-form-element row">
          <div class="col-md-2 text-right">
            <label for="amount" class="">Amount<span class="red">*</span></label>
          </div>
          <div class="col-md-4">
            <input type="text"
                   class="form-control"
                   id="amount"
                   name="amount"
                   aria-describedby="amountHelp"
                   placeholder="Enter Amount to be sent"
                   [(ngModel)]="requestMoney.amount"
                   required>
          </div>

          <div class="col-md-2 text-right">
            <label for="memo" class="">Memo<span class="red">*</span></label>
          </div>
          <div class="col-md-4">
             <textarea class="form-control" rows="2" id="memo" name="memo"
                       placeholder="Enter memo/comments for the transaction"
                       [(ngModel)]="requestMoney.memo">
             </textarea>
          </div>

        </div>
      </div>
    </div>
  </form>


    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>


    <div class="row">
      <div class="col-md-12">
  <hr>
        <div class="form-group tijn-form-element row">
          <div class="col-md-2 text-right">
            <label for="EmailPhone" class="">Email/Phone<span class="red">*</span></label>
          </div>
          <div class="col-md-4">
            <input type="text"
                   class="form-control"
                   id="EmailPhone"
                   name="EmailPhone"
                   aria-describedby="EmailPhoneHelp"
                   placeholder="Enter Email/Phone of the Receiver"
                   [(ngModel)]="SingleIdentifierPercentage.identifier"
                   required>
          </div>

          <div class="col-md-2 text-right">
            <label for="Percentage" class="">Percentage<span class="red">*</span></label>
          </div>
          <div class="col-md-4">
            <input type="text"
                   class="form-control"
                   id="Percentage"
                   name="Percentage"
                   aria-describedby="PercentageHelp"
                   placeholder="Enter Percentage of Request Amount"
                   [(ngModel)]="SingleIdentifierPercentage.percentage"
                   maxlength="3"
                   required>
          </div>



        </div>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-md-12 text-right">

        <input
          class="tijn-form-btn tijn-form-btn-inline btn btn-default main-btn"
          type="button"
          (click)="addRow()"
          value="Add Row">
      </div>
    </div>

  <hr>

    <div style="padding-top: 5px;">
      <table class="table table-striped tijn">
        <thead>
        <tr>
          <th>Email/Phone</th>
          <th>Percentage</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let x of AllIdentifierPercentage">
          <td>{{x.identifier}}</td>
          <td>{{x.percentage}}</td>
          <td>
            <div class="table-action-wrap">
              <div class="table-action">
                <span style="cursor:pointer" (click)="deleteRow(x)">Delete</span>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="form-group float-right">
      <button type="submit" class="tijn-form-btn tijn-form-btn-inline btn btn-default main-btn" (click)="submit()"
              [disabled]="((AllIdentifierPercentage.length)<1) || (requestMoneyForm.invalid || requestMoneyForm.pending)">
        <span>Submit</span>
      </button>
    </div>


</div>
