<br>

<br>


<div class="row">
  <div class="col-md-12" style="color: #427c99; padding-left: 5rem;">
    <label>TIJN is a payment network,
      that enables individuals to electronically transfer and request money to/from others.
    </label>
    <br>
    <br>
    <p>
      1. Users can register with TIJN by providing their Name, SSN, Password, Email Address or Phone Number.
      Also name and password can be updated.
    </p>

      <p>
        2. Users can link multiple email and/or phone number with their account and login using any of them.
        Users are also able to unlink their email/phone if they are not currently logged in with that particular email/phone number.
      </p>

    <p>
      3. Users can link multiple bank accounts with their account but they should define one of them as the primary funding source.
      Users are also able to unlink a bank account if its not their primary funding source.
    </p>

    <p>
      4. Users can send money by specifying other user's email address or phone number, amount and a memo.
         In cases when sent amount is over sender’s TIJN balance, the entire payment will be funded from the primary bank account.
    </p>

    <p>
      5. Users can request money from multiple users by specifying their user's email address or phone number,
      total bill amount, the percentage split of the amount and a memo.
    </p>

    <p>
      6. Users  can view the total amount sent or received in a particular time period.
      User can also view all transactions with a specific recipient ie another TIJN User.
    </p>

  </div>
</div>
